<div class="page" id="page1">
  <section class="container row" id="headerSection">
    <div id="headerLeft">
      <h1 class="heading" customScrollAnimation="fade-right">A university project<br />for <strong customScrollAnimation="fade-in" [delay]="200">demonstration</strong> purposes</h1>
      <p class="text" customScrollAnimation="fade-up" [delay]="400">This project serves as a demo for some of the web's modern technologies. It combines a mobile-friendly design and a present-day tech stack with some of the newest principles in web development to create a truly pleasant user experience.</p>
      <custom-button customScrollAnimation="fade-in" [delay]="2000">See more...</custom-button>
    </div>
    <figure id="headerRight" customScrollAnimation="fade-left" [delay]="600">
      <img id="mainLogo" src="/assets/images/cscb854_logo.png" />
    </figure>
  </section>
</div>
<div class="page" id="page2">
  <section class="container">
    <h2 class="heading centered" customScrollAnimation="fade-up" [delay]="200">What's in the box?</h2>
    <div class="text-box" customScrollAnimation="grow" [delay]="300">
      <p class="text" customScrollAnimation="fade-up" [delay]="600">This project is made as a demonstration of what a simple landing page and/or portfolio could look like in 2022. <em>For a quick overview of the tech stack, see the cards below:</em></p>
    </div>
  </section>
  <section class="container row">
    <div class="card-container" customScrollAnimation="fade-left" [delay]="800">
      <div class="card">
        <div class="card-header">
          <img class="card-logo" src="/assets/images/netlify-logo.png" alt="Netlify logo" />
          <strong>Serverless deployment</strong>
        </div>
        <div class="card-content">
          <p class="text">Netlify allows us to seamlessly and automatically deploy the project directly from a GitHub repository upon a commit, for example. Going "serverless" can be categorized as a fairly modern approach. Simple lambda functions can also be used with Netlify for backend tasks such as authentication.</p>
        </div>
        <div class="card-footer">
          <custom-link icon="arrow">How does it work?</custom-link>
        </div>
      </div>
    </div>
    <div class="card-container" customScrollAnimation="fade-up" [delay]="1000">
      <div class="card">
        <div class="card-header">
          <img class="card-logo" src="/assets/images/angular-logo.png" alt="Angular logo" />
          <strong>Modern framework</strong>
        </div>
        <div class="card-content">
          <p class="text">Angular is used in this project. It's one of the more capable frontend frameworks available today. It uses TypeScript which is a superset of JavaScript and is now almost 10 years old. As such it's very mature and is quite opinionated, unlike React.js, for example.</p>
        </div>
      </div>
    </div>
    <div class="card-container" customScrollAnimation="fade-right" [delay]="1200">
      <div class="card">
        <div class="card-header">
          <img class="card-logo" src="/assets/images/sass-logo.png" alt="Sass logo" />
          <strong>Built to impress</strong>
        </div>
        <div class="card-content">
          <p class="text">As the web is becoming more and more sophisticated and congested with web pages, it's more important than ever for designs to stand out. This project incorporates Sass as its style preprocessor and is built around a reusable consistent custom-made theme.</p>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="page" id="page3">
  <section class="container row">
    <section>
      <h2 class="heading">
        <span customScrollAnimation="fade-right" [delay]="200">Ready for the modern web.</span>
        <br />
        <span customScrollAnimation="fade-in" [delay]="1600">And for <strong>modern devices, too.</strong></span>
      </h2>
      <p class="text" customScrollAnimation="fade-up" [delay]="400">This project has been optimized to work on any Internet-enabled device. The web is the only truly universal platform and as such modern websites need to support a variety of devices, such as phones, tablets, laptops & desktops - above 60% of the Internet traffic goes through mobile devices.</p>
    </section>
    <figure class="grid" id="right">
      <div class="card">
        <div class="card-content">
          <img src="/assets/images/smartphone.png" />
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="/assets/images/tablet.png" />
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="/assets/images/laptop.png" />
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <img src="/assets/images/desktop.png" />
        </div>
      </div>
    </figure>
  </section>
</div>
<!-- <trailing-lines-animation></trailing-lines-animation> -->
