<div class="page" id="page1">
  <section class="container row" id="headerSection">
    <div id="headerLeft">
      <h1 class="heading" scrollAnimation="fade-right">A university project<br />for <strong scrollAnimation="fade-in" [delay]="200">demonstration</strong> purposes
      <div class="line-wrapper" scrollAnimation="grow-width" [delay]="400"><div class="line"></div></div></h1>
      <p class="text" scrollAnimation="fade-up" [delay]="400">This project serves as a demo for some of the web's modern technologies. It combines a mobile-friendly design and a present-day tech stack with some of the newest principles in web development to create a truly pleasant user experience.</p>
      <custom-button (onClick)="scrollToPage2()" scrollAnimation="fade-in" [delay]="2000">See more...</custom-button>
    </div>
    <figure id="headerRight" scrollAnimation="fade-left" [delay]="600">
      <img id="mainLogo" src="/assets/images/cscb854_logo.png" />
    </figure>
  </section>
</div>
<div id="page2" #page2>
  <section class="container">
    <h2 id="test" class="heading centered" scrollAnimation="fade-up" [delay]="200">What's in the box?<div class="line-wrapper" scrollAnimation="grow-width" [delay]="400"><div class="line"></div></div></h2>
    <div class="text-box" scrollAnimation="grow" [delay]="300">
      <p class="text" scrollAnimation="fade-up" [delay]="600">This project is made as a demonstration of what a simple landing page and/or portfolio could look like in 2022. <em>For a quick overview of the tech stack, see the cards below:</em></p>
    </div>
  </section>
  <section class="container row feature-cards">
    <div class="card-container" scrollAnimation="fade-left" [delay]="800">
      <div class="card clear with-borders">
        <div class="card-header">
          <img class="card-logo" src="/assets/images/netlify-logo.png" alt="Netlify logo" />
          <strong>Serverless deployment</strong>
        </div>
        <div class="card-content">
          <p class="text">Netlify allows us to seamlessly and automatically deploy the project directly from a GitHub repository upon a commit, for example. Going "serverless" can be categorized as a fairly modern approach. Simple lambda functions can also be used with Netlify for backend tasks such as authentication.</p>
        </div>
        <div class="card-footer">
          <custom-link (onClick)="scrollToPage3()" icon="arrow">How does it work?</custom-link>
        </div>
      </div>
    </div>
    <div class="card-container" scrollAnimation="fade-up" [delay]="1000">
      <div class="card clear with-borders">
        <div class="card-header">
          <img class="card-logo" src="/assets/images/angular-logo.png" alt="Angular logo" />
          <strong>Modern framework</strong>
        </div>
        <div class="card-content">
          <p class="text">Angular is used in this project. It's one of the more capable frontend frameworks available today. It uses TypeScript which is a superset of JavaScript and is now almost 10 years old. As such it's very mature and is quite opinionated, unlike React.js, for example.</p>
        </div>
        <div class="card-footer">
          <custom-link [linkToURL]="{href: 'https://angular.io/', openInNewTab: true}">Read more... ↗</custom-link>
        </div>
      </div>
    </div>
    <div class="card-container" scrollAnimation="fade-right" [delay]="1200">
      <div class="card clear with-borders">
        <div class="card-header">
          <img class="card-logo" src="/assets/images/sass-logo.png" alt="Sass logo" />
          <strong>Built to impress</strong>
        </div>
        <div class="card-content">
          <p class="text">As the web is becoming more and more sophisticated and congested with web pages, it's more important than ever for designs to stand out. This project incorporates Sass as its style preprocessor and is built around a reusable consistent custom-made theme.</p>
        </div>
        <div class="card-footer">
          <custom-link (onClick)="scrollToPage4()" icon="code">Show me something cool</custom-link>
        </div>
      </div>
    </div>
  </section>
</div>
<div id="page3" #page3>
  <section id="serverlessSection" class="container row">
    <section>
      <h2 class="title" scrollAnimation="fade-right" [delay]="200">Serverless development with <strong>Netlify.</strong></h2>
      <p class="text" scrollAnimation="fade-right" [delay]="500">
        Serverless is a cloud-native development model that allows developers to build and run applications without having to manage servers. There are still servers in serverless, but they are abstracted away from app development.</p>
      <p class="text" scrollAnimation="fade-right" [delay]="800"><em>You can test out a sample lambda function below. Be sure to check your spam folder as this is a test email and it can trigger some spam filters.</em></p>
      <div class="row" id="netlifyTestForm">
        <custom-input scrollAnimation="fade-up" [delay]="1700" [duration]="200" [hasError]="!emailIsValid && email !== ''" [(text)]="email" (textChange)="updateEmail($event)" placeholder="Enter your email..."></custom-input>
        <button scrollAnimation="fade-up" [delay]="1900" [class.state-done]="emailSent" [disabled]="!email || (!emailIsValid && !emailSent)" (click)="sendEmailThroughNetlify()">{{emailSent ? '✓ Done.' : 'Mail me ↗'}}</button>
      </div>
      <div *ngIf="emailError" class="error-text">A server error has occured when sending your email. Sorry!</div>
    </section>
    <figure>
      <img scrollAnimation="blur" [duration]="2000" [delay]="500" src="/assets/images/cloud-computing.png" alt="Cloud computing" />
    </figure>
  </section>
</div>
<div id="page4" #page4>
  <section class="container row code-row">
    <section class="section-left">
      <h2 class="heading">
        <span scrollAnimation="fade-right" [delay]="200">Ready for the modern web.</span>
        <br />
        <span scrollAnimation="fade-in" [delay]="1600">And for <strong>modern devices, too.</strong></span>
        <div class="line-wrapper" scrollAnimation="grow-width" [delay]="1800"><div class="line"></div></div>
      </h2>
      <p class="text" scrollAnimation="fade-up" [delay]="500">This project has been optimized to work on any Internet-enabled device. The web is the only truly universal platform and as such modern websites need to support a variety of devices, such as phones, tablets, laptops & desktops - above 60% of the Internet traffic goes through mobile devices.</p>
    </section>
    <section class="section-right">
      <div scrollAnimation="blur" [duration]="1000" [delay]="500" class="code-box">
        <div class="line comment">// Use the `responsive` mixin to apply styles</div>
        <div class="line comment">// for a particular device</div>
        <div class="line">.my-heading &#123;</div>
        <div class="line">&nbsp;&nbsp;<strong>font-size</strong>: <em>48px</em>;</div>
        <div class="line">&nbsp;&nbsp;<strong>@include</strong> responsive(<em>'mobile'</em>) &#123;</div>
        <div class="line">&nbsp;&nbsp;&nbsp;&nbsp;<strong>font-size</strong>: <em>24px</em>;</div>
        <div class="line">&nbsp;&nbsp;&#125;</div>
        <div class="line comment">&nbsp;&nbsp;// Or use the shorthand syntax:</div>
        <div class="line">&nbsp;&nbsp;<strong>@include</strong> mobile &#123;</div>
        <div class="line">&nbsp;&nbsp;&nbsp;&nbsp;<strong>font-size</strong>: <em>24px</em>;</div>
        <div class="line">&nbsp;&nbsp;&#125;</div>
        <div class="line">&#125;</div>
      </div>
    </section>
  </section>
  <section class="container">
    <figure class="grid">
      <div class="card with-borders" scrollAnimation="fade-in" [delay]="900">
        <div class="card-content">
          <img src="/assets/images/smartphone.png" />
        </div>
      </div>
      <div class="card with-borders-inverted" scrollAnimation="fade-in" [delay]="1000">
        <div class="card-content">
          <img src="/assets/images/tablet.png" />
        </div>
      </div>
      <div class="card with-borders" scrollAnimation="fade-in" [delay]="1100">
        <div class="card-content">
          <img src="/assets/images/laptop.png" />
        </div>
      </div>
      <div class="card with-borders-inverted" scrollAnimation="fade-in" [delay]="1200">
        <div class="card-content">
          <img src="/assets/images/desktop.png" />
        </div>
      </div>
    </figure>
  </section>
  <div class="container">
    <div class="text-box" scrollAnimation="grow" [delay]="300">
      <div class="highlight">Fun fact</div>
      <p class="text" scrollAnimation="fade-up" [delay]="600">
        The composition above (with the desktop, laptop, phone & tablet graphics) is actually made using a CSS3 grid. The CSS Grid Layout Module offers a grid-based layout system, with rows and columns, making it easier to design web pages without having to use floats and positioning.
      </p>
    </div>
  </div>
</div>
<div id="page5">
  <section class="container row">
    <section>
      <h2 class="title" scrollAnimation="fade-up" [delay]="500">You have reached the end.</h2>
      <animated-text-box>
        This is the end of the demo project. No external libraries were used for the UI - all is custom. Scroll to the top and reload the page to see the animations again.
      </animated-text-box>
      <p class="text" scrollAnimation="fade-in" [delay]="2000">
        <strong>Hope you liked it 😊</strong>
      </p>
    </section>
  </section>
</div>
<!-- <trailing-lines-animation></trailing-lines-animation> -->
