@import '/src/colors.scss';
@import '/src/mixins.scss';

#headerSection {
  #headerLeft {
    padding-right: 40px;
    custom-button {
      display: block;
      margin-top: 24px;
    }
  }
  #headerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    img#mainLogo {
      width: 300px;
    }
  }
}

#page2 {
  .heading {
    margin-bottom: 60px;
  }
  .text-box {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

  }
  .card-container {
    flex: 1;
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

#page3 {
  .container.row {
    figure {
      margin-left: 80px;
      padding-top: 40px;
      img {
        max-width: 360px;
        opacity: 0.1;
      }
    }
  }
  #netlifyTestForm {
    margin-top: 20px;
    custom-input {
      width: 270px;
      display: block;
    }
    button {
      margin-left: 20px;
    }
  }
}

#page4 {
  margin-top: 140px;
  .container.row {
    align-items: center;
    margin-bottom: 20px;
  }
  .section-left, .section-right {
    flex: 1;
  }
  .section-left {
    p {
      padding-right: 40px;
    }
  }
  .section-right {
    margin-left: 20px;
  }
  .card {
    .card-content {
      text-align: center;
      img {
        width: 96px;
        filter: grayscale(30%);
        opacity: 0.8
      }
    }
  }
  .text-box {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
  .grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
  }
}
